body {
  background: lightblue;
  font-family: arial;
  color: #00626f;
}

.forecast-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 3px white solid;
  border-radius: 5px;
  padding: 5px;
}

.forecast-display > .condition {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.condition > p {
  text-align: center;
}

.temperature {
  font-size: 3em;
  display: flex;
  align-items: center;
  min-width: max-content;
}

.additional-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.days {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  overflow: scroll;
}

.forecast {
  flex: 1 1 auto;
  border: 3px white solid;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  min-width: 100px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.forecast-days > .lds-dual-ring {
  align-self: center;
}
